.main{
    left: 150px;
    position: absolute;
    top: 80px;
    z-index: -2;
    width: 100%;
}

.row{
    height: 65px;
    display: flex;
}
.column{
    border: 1px solid #ccc;
    border-top: 0;
    border-right: 0;
    flex: 1;
}
.event{
    position: absolute;
    height: 4vh;
    /*background: #000;*/
    overflow-x: hidden;
    white-space: nowrap;
    padding: 2px 11px;
    border-radius: 5px;
}
