.event{
    position: absolute;
    height: 65px;
    /*margin: 13px 0;*/
    /*background: #000;*/
    overflow-x: hidden;
    white-space: nowrap;
    color: #fff;
    overflow-y: hidden;

}
.event div{
    height: 40px;
    margin: 13px 0;
    padding: 2px 11px;
    border-radius: 5px;
    cursor: pointer;
}
