.main{
    position: absolute;
    top: 51px;
    left: 150px;
    z-index: -1;
    display: flex;
}
.column{
    width: 80px;
    height: 29px;
    border: 1px solid #CCCCCC;
    border-left: 0;
    padding: 0 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.active{
    background: #007AFF;
    color: #fff;
    padding: 2px 8px;
    border-radius: 12px;
}
