.main{
    position: absolute;
    top: 51px;
    left: 10vw;
    z-index: -1;
    display: flex;
}
.column{
    width: 5vw;
    border: 1px solid #CCCCCC;
    border-left: 0;
    padding: 0 5px;
    font-size: 14px;
}
