.main{
    position: absolute;
    top: 80px;
    z-index: -1;
    border-right: 1px solid #ccc;
    background: #fff;
}
.resource{
    border: 1px solid #ccc;
    border-top: 0;
    border-right: 0;
    width: 10vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBtn{
    border: 1px solid #ccc;
    border-top: 0;
    border-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.addBtn svg{
    font-size: 20px;
    cursor: pointer;
}
.addBtn svg:hover{
    color: #007AFF;
}
